<div style="background-color:#f3f3f3;" class="py-2">
    <div class="container-91">
        <a href="~/images/banners/03-1200x140.jpg"><img src="~/images/banners/03-1200x140.jpg" alt="" width="100%"></a>
    </div>
</div>
<div style="background-color:#f3f3f3;" class="py-2">
    <div class="container-91 bg-white py-2 px-3">
        Tìm kiếm nhiều:
        <a class="pl-3" href="@Url.Action("Search", "Site", new { key = "Truyện tranh" })">Truyện tranh</a>
        <a class="pl-3" href="@Url.Action("Search", "Site", new { key = "Đam mê xê dịch" })">Đam mê xê dịch</a>
        <a class="pl-3" href="@Url.Action("Search", "Site", new { key = "Blockchain - Tiền ảo" })">Blockchain - Tiền ảo</a>
        <a class="pl-3" href="@Url.Action("Search", "Site", new { key = "Dạy con làm giàu" })">Dạy con làm giàu</a>
        <a class="pl-3" href="@Url.Action("Search", "Site", new { key = "Khoa học - Công nghệ" })">Khoa học - Công nghệ</a>
        <a class="pl-3" href="@Url.Action("Search", "Site", new { key = "Tiểu thuyết" })">Tiểu thuyết</a>
    </div>
</div>
